.user-message {
    // max-width: 50%;
    width: fit-content;
    word-break: break-word;
    display: flex;
    align-items: start;
    justify-content: end;
    flex-direction: row-reverse;
    color: #525252;
}

.bot-message {
    // max-width: 50%;
    width: fit-content;
    word-break: break-word;
    display: flex;
    align-items: start;
    justify-content: start;
    color: #525252;
}

.detail-chat {
    width: 100%;
    display: flex;
    margin-top: 1rem;
}

.final-block {
    // width: 100%;
    flex: 1 1 0;
    display: flex;
    scrollbar-width: none;
}

// .head-chat {
//     border-top-left-radius: 8px;
//     border-top-right-radius: 8px;
// }

.chat-container {
    width: 100%;
    flex: 1 1 0;
    // background-color: #F8F8F8;
    // border-bottom-left-radius: 8px;
    // border-bottom-right-radius: 8px;
    border: 1px solid #F4F4F4;
    // padding: 32px;
    display: flex;
    flex-direction: column;
}

.main-chat {
    width: 100%;
    display: flex;
    justify-content: center;
    // flex-direction: column;
    align-items: center;
    scrollbar-width: none;
}

.input-container {
    width: 100%;
    gap: 8px;
    display: flex;
    justify-content: space-between;
    // position: relative;
}

.chat-box {
    flex: 1 1 0;
    overflow-y: auto;
    scrollbar-width: none;
}

// .markdown-container {
//     font-family: Arial, sans-serif;
//     line-height: 1.6;
//     background-color: #f9f9f9;
//     padding: 20px;
//     border-radius: 8px;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
// }

.markdown-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        width: 100%;
    }
}

.markdown-container {

    ol,
    ul {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;

        li {
            // font-weight: 800;
            // background-color: #f0f0f0;
            /* Màu nền */
            // margin: 5px 0;
            /* Khoảng cách giữa các mục */
            // padding: 10px 15px;
            /* Padding cho các mục */
            border-radius: 5px;
            /* Bo góc */
            transition: background-color 0.3s;
            // color: rgb(204, 9, 90)
        }
    }
}

li {
    // background-color: #f0f0f0;
    /* Màu nền */
    // margin: 5px 0;
    /* Khoảng cách giữa các mục */
    // padding: 10px 15px;
    /* Padding cho các mục */
    border-radius: 5px;
    /* Bo góc */
    transition: background-color 0.3s;
    // color: rgb(204, 9, 90)
}

.markdown-container h1,
.markdown-container h2,
.markdown-container h3 {
    color: #333;
}

// .markdown-container li,
// .markdown-container li blockquote {
//     color: rgb(204, 9, 90)
// }

.markdown-container li {
    // background-color: #f9f9f9;
    /* Màu nền */
    // margin: 5px 0;
    /* Khoảng cách giữa các mục */
    // padding: 10px 15px;
    /* Padding cho các mục */
    border-radius: 5px;
    /* Bo góc */
    // transition: background-color 0.3s;
}

// .markdown-container p {
//     color: #555;
//     margin: 10px 0;
// }

.markdown-container pre {
    background-color: #f9f9f9;
    // color: #f8f8f2;
    padding: 8px 16px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    overflow: auto;
    width: 100%;
}

.markdown-container code {
    // background-color: #f1f1f1;
    // color: #03b67a;
    border-radius: 4px;
    padding: 0 !important;
    color: #31333F;
}

.hljs {
    background-color: #F8F9FB !important;
}

.hljs-keyword {
    color: #1C83E1 !important;
}

.hljs-string {
    color: #09AB3B !important;
}

.select-role {
    appearance: none;
    &:focus {
        outline: none;
    }

    option {
        background: white;
        color: #0F6D5E;
    }
}

.select-role-container {
    position: relative;
    &::after {
        content: '';
        background-image: url('/arrow-down.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 15px;
        height: 8px;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        pointer-events: none;
    }
}

.subnav-item:hover path {
    fill: #0F6D5E;
}