.user-message {
    color: red;
    width: 45%;
    word-break: break-word;
}

.bot-message {
    color: green;
    width: 45%;
    word-break: break-word;
}

.detail-chat {
    width: 100%;
    display: flex;
    margin-top: 1rem;
}

.chat-container {
    width: 80%;
}

.main-chat {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.input-container {
    display: flex;
    justify-content: space-between;
}

